.container{
  display: flex;
}
.main{
  flex: 4;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid grey 1px;
}
aside{
  flex: 1;
}
.title-date{
  padding: 5px;
}
#date{
  color: rgb(153, 151, 151);
}
aside{
  border-left: grey solid 1px;
  height: 100vh;
  padding-left: 20px;
}
#aside-title{
  border-bottom: grey solid 1px;
}
#title-1{
  padding-top: 90px;
}

